%h2= @ticket.to_s
.gradient_border_wrap
  .gradient_border_content
    %table.work_units
      %thead
        %tr
          %th #
          %th Work Units
          %th Hours
          %th Edit
      %tbody
        - @work_units.each do |work_unit|
          %tr
            %td= work_unit.id
            %td= link_to work_unit.description, ticket_work_unit_path(@ticket, work_unit)
            %td= work_unit.hours
            %td= link_to 'Edit', edit_ticket_work_unit_path(@ticket, work_unit)
    = button_to "New Work Unit", new_client_path, :method => :get, :class => "add_new_button"

