.yui3-g
  .yui3-u-1
    %h2= "#{@work_unit.ticket.project.client}: #{@work_unit.ticket.project} - #{@work_unit.ticket}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          - if (@work_unit.user == current_user) || admin?
            %li= link_to t(:edit), edit_work_unit_path
          %li= link_to "#{t(:back_to_ticket)}: #{@work_unit.ticket}", ticket_path(@work_unit.ticket)
          %li= link_to "#{t(:back_to_project)}: #{@work_unit.ticket.project}", project_path(@work_unit.ticket.project)
          %li= link_to "#{t(:back_to_client)}: #{@work_unit.ticket.project.client}", client_path(@work_unit.ticket.project.client)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        #work_unit
          .description= @work_unit.description

