#work_unit
  .description= @work_unit.description

  .links
    = link_to "Comments", work_unit_comments_path(@work_unit)
    |
    = link_to "Back to ticket: #{@ticket}", project_ticket_path(@ticket.project, @ticket)
    |
    = link_to "Back to project: #{@ticket.project}", project_path(@ticket.project.client, @ticket.project)
    |
    = link_to "Back to client: #{@ticket.project.client}", client_path(@client)
