- content_for :javascripts do
  = javascript_include_tag "dashboard"

/ this is for the modal message
- if @show_message == "true"
  #message{:title => @title, :style => "display: none;"}
    %p= @message

.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => 'shared/calendar', :locals => { :start_date => @start_date, :user => current_user }
        = render :partial => 'dashboard/base/week_pagination', :locals => { :start_date => @start_date }
.yui3-g
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => 'shared/recent_work'
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => 'shared/add_work_unit'
