.module-wrap
  .module-gradient-container
    .module
      #work_unit
        %h2 Description
        = @work_unit.description
        %h3 Hours
        = @work_unit.hours
        %h3 Scheduled At
        = @work_unit.scheduled_at
        %h3 Ticket
        = @ticket.to_s
        %h3 Project
        = @project.to_s
        %h3 Client
        = @client.to_s
        .actions
          %ul
            %li= link_to "Back to work units", dashboard_work_units_path
