.module-wrap
  .module-full-container
    .module
      = render :partial => 'week_pagination', :locals => { :start_date => @start_date }

      %h2
        Weekly Time Report for
        = @start_date
        through
        = @start_date + 1.week
      - @users.each do |user|
        %h3= user.to_s
        = render :partial => 'shared/calendar', :locals => { :start_date => @start_date, :user => user }

      = render :partial => 'week_pagination', :locals => { :start_date => @start_date }
