.module-wrap
  .module-gradient-container
    .module
      = link_to "&larr; Previous Week".html_safe, admin_weekly_time_report_path(@previous_week)
      - if @beg_date < Time.zone.now
        = link_to "Next Week &rarr;".html_safe, admin_weekly_time_report_path(@next_week)

      - @users.each do |user|
        %table.calendar
          %thead
            %tr
              %td{:colspan => "100%"}= user.to_s
            %tr
              - (0..6).map{|x| @beg_date + x.days }.each do |date|
                %th= "#{date.asctime[0]} - #{date.day}"
              %th Totals:
            %tfoot
              %tr
                - (0..6).map{|x| @beg_date + x.days }.each do |date|
                  %td= "Total: #{user.work_units_for_day(date).sum(:hours)}"
                %td= "Week: #{user.work_units_for_week(@beg_date).sum(:hours)}"
            %tbody
              %tr
                - @weekdays.each do |date|
                  %td
                    - user.clients_for_day(date).each do |client|
                      .client= "#{client.initials}: #{user.work_units_for_day(date).for_client(client).sum(:hours)}"
                %td= "Current: #{user.unpaid_work_units.sum(:hours)}"

      = link_to "&larr; Previous Week".html_safe, admin_weekly_time_report_path(@previous_week)
      - if @beg_date < Time.zone.now
        = link_to "Next Week &rarr;".html_safe, admin_weekly_time_report_path(@next_week)
