%h2
  = "#{@user.last_name}, #{@user.first_name}"


- form_tag(admin_payroll_path, :method => 'put', :multipart => true) do
  - @clients.each do |client|
    - sum = 0
    %table{:bgcolor => "#FFFFFF", :border => "1"}
      %thead
        %tr
          %th Description
          %th Work Date
          %th Hours
          %th
      %tbody
        - @work_units.each do |wu|
          - if wu.ticket.project.client == client
            - sum += wu.hours
            %tr
              %td 
                = wu.description
              %td 
                = wu.created_at.strftime("%Y/%m/%d")
              %td 
                = wu.hours
              %td 
                = text_field_tag "work_unit[#{wu.id}]"
      %tfoot
        %tr
          %td{:colspan => 2} Total
          %td
            = sum
          %td
  %span{:style => "float: right"}
    = submit_tag 'Submit'
