%h2
  = @client.name
.gradient_border_wrap
  .gradient_border_content
    %div
      %input{:type => "text", :id => "global_invoiced"}
    %div
      -form_tag(admin_invoice_path, :method => 'put', :multipart => true) do
        = submit_tag 'Submit'
        - @tickets.each do |ticket|
          %table
            %thead
              %tr
                %td{:colspan => "3"}= ticket.long_name
                %td
                %td
                %td
                  %input{:type => "text", :id => "ticket_invoiced_#{ticket.id}", :class => "ticket_invoiced"}
              %tr
                %th Description
                %th Assigned To
                %th Scheduled On
                %th Hours
                %th Overtime?
                %th Invoice
            %tbody
              - @work_units.each do |wu|
                - if wu.ticket == ticket
                  %tr
                    %td
                      %pre
                        = wu.description
                    %td= wu.user.first_name
                    %td= wu.scheduled_at.strftime("%F")
                    %td= wu.hours
                    %td
                      - if wu.overtime?
                        yes
                    %td
                      = text_field_tag "work_units[#{wu.id}][invoiced]",nil, :class => "global ticket_invoiced_#{ticket.id}"
                      = text_field_tag "work_units[#{wu.id}][invoiced_at]", Time.now.strftime("%F"), :class => "datepicker"
            %tfoot
              %tr
                %td{:colspan => "3"} Totals
                %td{:colspan => "3"}= ticket.sum_of_hours_not_invoiced
              %tr
                %td{:colspan => "6"}
                  - find_and_preserve do
                    %textarea{:cols => "100%", :rows => "10"}
                      = "#{ticket.long_name}"
                      = "=========================="
                      - @work_units.each do |wu|
                        - if wu.ticket == ticket
                          = "#{wu.scheduled_at.strftime("%Y/%m/%d")} - #{wu.user.to_s} - #{wu.hours} Hours\n  #{wu.description.gsub(/[\n]/,'\0  ')}"
                          = ""
                          - if ticket.work_units.last == wu
                            = "=========================="
                            = "Total Hours: #{ticket.sum_of_hours_not_invoiced}"

- content_for :javascripts do
  = javascript_include_tag "admin_invoices"


