#add-work-unit
  %h4.dashboard_title Add Work Unit

  = form_for [:dashboard, WorkUnit.new(params[:work_unit])] do |f|
    
    .work_unit_field
      %label Scheduled On:
      = link_to Time.current.strftime("%m/%d/%Y"), "#", :id => "schedule_modal_link"

      #schedule_modal
        %p It is best to enter work units on days you completed the work, please use this wisely.
        %label 
          Scheduled On:
        = text_field_tag :scheduled_at, Time.current.strftime("%m/%d/%Y")
        = link_to "Set Date", '#', :class => 'close_schedule_modal'
    .work_unit_field
      %label{:for => "work_unit_client_id"} Client:
      = collection_select("work_unit", "client_id", @clients, "id", "name", { :prompt => "Select a client" })
    .work_unit_field
      - if @projects
        %label{:for => "work_unit_project_id"} Project:
        = collection_select("work_unit", "project_id", @projects, "id", "name", { :prompt => "Select a project" })
    .work_unit_field
      - if @tickets
        %label{:for => "work_unit_ticket_id"} Ticket:
        = collection_select("work_unit", "ticket_id", @tickets, "id", "name", { :prompt => "Select a ticket" })
    .work_unit_field
      %label{:for => "work_unit_hours"} Hours:
      = f.text_field :hours, { :size => 10 }
    .work_unit_field
      %label{:for => "work_unit_description"} Description:
      = f.text_area :description, { :rows => 10}

    %span
    = f.check_box "overtime"
    = f.label "overtime"
    = f.hidden_field :scheduled_at

    = f.submit "Add New", :class => "add_new_button"
    #work-unit-errors

- content_for :javascripts do
  = javascript_include_tag "add_work_unit"
