- content_for :javascripts do
  = javascript_include_tag "add_work_unit"

#add-work-unit
  %h4.dashboard_title Add Work Unit

  = form_for WorkUnit.new(params[:work_unit]) do |f|

    #work-unit-errors

    .work_unit_field
      %label Scheduled On:
      = link_to Time.current.strftime("%m/%d/%Y"), "#", :id => "schedule_modal_link"

    #schedule_modal
      %p It is best to enter work units on days you completed the work, please use this wisely.
      .work_unit_field
        %label Scheduled On:
        = text_field_tag :scheduled_at, Time.current.strftime("%m/%d/%Y")

    .work_unit_field
      %label{:for => "work_unit_client_id"} Client:
      = collection_select("work_unit", "client_id", @clients, "id", "name", { :prompt => "Select a client" })

    .work_unit_field
      %label{:for => "work_unit_project_id"} Project:
      = collection_select("work_unit", "project_id", @projects, "id", "name", { :prompt => "Select a project" })

    .work_unit_field
      %label{:for => "work_unit_ticket_id"} Ticket:
      = collection_select("work_unit", "ticket_id", @tickets, "id", "name", { :prompt => "Select a ticket" })

    .work_unit_field
      %label{:for => "hours_type"} Type:
      = select_tag('hours_type', options_for_select(['Normal', 'Overtime']))

    .work_unit_field
      %label{:for => "work_unit_hours"} Hours:
      = f.text_field :hours, { :size => 10 }

    .work_unit_field
      %label{:for => "work_unit_description"} Description:
      = f.text_area :description, { :rows => 10, :style => "resize: none;"}

    .work_unit_field
      %label{:for => "work_unit_ovetime"} Overtime:
      = f.check_box "overtime"
      = f.hidden_field :scheduled_at
      = f.submit "Add New", :class => 'add_new_button'
