#calendar
  %table
    %thead
      %tr.calendar_top
        - (0..6).map{|x| start_date + x.days }.each do |date|
          %th= "#{date.asctime[0]} - #{date.day}"
        %th Totals:
    %tfoot
      %tr.calendar_foot
        - (0..6).map{|x| start_date + x.days }.each do |date|
          %td= "Total: #{user.work_units_for_day(date).sum(:hours)}"
        %td= "Week: #{user.work_units_for_week(start_date).sum(:hours)}"
    %tbody
      %tr
        - (start_date..(start_date + 6.days)).each do |date|
          %td
            - unless user.work_units_for_day(date).empty?
              %ul
                - user.work_units_for_day(date).each do |work_unit|
                  %li{:class => "#{work_unit.overtime? ? 'work_unit overtime' : 'work_unit'}"}
                    = link_to "#{work_unit.client.initials}: #{work_unit.hours}", work_unit_path(work_unit), { :title => work_unit.description }
        %td= "Current: #{user.unpaid_work_units.sum(:hours)}"
