%ul
  %li= link_to "Home", root_path
  %li= link_to "Clients", clients_path
  %li= link_to "Work Units", dashboard_work_units_path
  %li= link_to "Users", admin_users_path
  %li= link_to "Admin", admin_path
