%h2 Recent Work

- content_for :head do
  = stylesheet_link_tag 'jquery-ui-1.8.5.custom.css'


%div.accordion
  - @days.each do |day|
    %h4{:style => "padding-left: 30px"}= day
    %div
      - @work_units.each do |wu|
        - if wu.scheduled_at.strftime("%A, %B %d, %Y") == day
          %div{:style => "font-size: 12px"}= "- [#{wu.client}] - #{wu.hours} hours - #{truncate(wu.description, :length => 30)}"

- content_for :javascripts do
  = javascript_include_tag 'jquery-ui-1.8.5.custom.min'
  :javascript
    $(function(){
      $(".accordion").accordion({ header: 'h4', clearStyle: true, fillSpace: true });
    });
