- content_for :javascripts do
  = javascript_include_tag "recent_work"
#recent-work
  %h4.dashboard_title
    = "#{@start_date} to #{@start_date + 6.days}"
  .accordion
    - (0..[6, (Date.today - @start_date).to_i].min).map{ |x| @start_date + x.days }.reverse.each do |header_date|
      %h4= link_to header_date.strftime("%A, %B %d, %Y"), '#'
      %ul.work_units
        - @work_units.group_by{|wu| wu.scheduled_at.utc.to_date}.each do |date, units|
          - if date == header_date
            - units.each do |wu|
              %li= link_to ("- [#{wu.client.initials}] - #{wu.hours} hours - #{truncate(wu.description, :length => 30)}"), "/tickets/#{wu.ticket.id}/work_units/#{wu.id}"
