= form_for(@client) do |f| 
  - if @client.errors.any?
    #error_explanation
      %h2
        = pluralize(@client.errors.count, "error")
        prohibited this client from being saved:

      %ul
      - @client.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :initials
    = f.text_field :initials
  .field
    = f.label :status
    = f.select :status, client_status_select(@client.status)
  .actions
    = f.submit :class => "add_new_button"
    = link_to "Cancel", clients_path, :class => "cancel_button"
  .clear  
