%table.clients
  %thead
    %tr
      %th Name
      %th Status
      %th
      %th
  %tbody
    - @clients.each do |client|
      %tr
        %td= link_to client, client
        %td= client.status
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client_path(client), :method => :delete

= link_to "New Client", new_client_path
