%h2 All Clients
.gradient_border_wrap
  .gradient_border_content
    %table.clients
      %thead
        %tr
          %th Name
          %th Initials
          %th Projects
          %th Tickets
          %th Status
          %th Edit
      %tbody
        - @clients.each do |client|
          %tr
            %td= link_to client, client
            %td= client.initials
            %td= link_to client.projects.count, client_projects_path(client)
            %td= client.tickets.count
            %td= client.status
            %td= link_to 'Edit', edit_client_path(client)
    = button_to "New Client", new_client_path, :method => :get, :class => "add_new_button"

