#client
  %h2= @client.to_s

  Status:
  = @client.status

  .links
    = link_to "Edit", edit_client_path(@client)
    |
    = link_to "Projects", client_projects_path(@client)
    |
    = link_to "Comments", client_comments_path(@client)
