.module-wrap
  .module-gradient-container
    .module
      #client
        %h2= @client.to_s
      %table
        %thead
          %tr
            %th Projects
            %th Tickets
            %th Hours
            %th Budgeted Hours
        %tbody
          - @client.projects.each do |project|
            %tr
              %td= link_to project, client_project_path(@client, project)
              %td= link_to project.tickets.count, client_project_path(@client, project)
              %td= project.tickets.inject(0) {|sum, ticket| sum + ticket.work_units.inject(0) {|sum, work_unit| sum + work_unit.hours}}
              %td

        Status:
        = @client.status

        .links
          = link_to "Edit", edit_client_path(@client)
          |
          = link_to "Projects", client_projects_path(@client)
          |
          = link_to "Comments", client_comments_path(@client)
