.yui3-g
  .yui3-u-1
    %h2= "#{t(:client)}: #{@client}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to t(:all_clients), clients_path
          -if admin?
            %li= link_to 'Edit Client', edit_client_path 
          %li= link_to 'New Project', new_project_path(:client => @client)
          %li= link_to 'View Contacts', client_contacts_path(@client)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        #client
          %h3= "#{t(:status)}: #{@client.status}"
          %table
            %thead
              %tr
                %th= t(:projects)
                %th= t(:tickets)
                %th= t(:hours)
            %tbody
              - @client.projects.each do |project|
                %tr
                  %td= link_to project, project
                  %td= project.tickets.count
                  %td= project.tickets.inject(0) {|sum, ticket| sum + ticket.work_units.inject(0) {|sum, work_unit| sum + work_unit.hours}}
.yui3-g
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => "comments/comments", :locals => {:comments => @client.comments}
        = render :partial => "comments/comment_form", :locals => { :commentable_id => @client.id, :commentable_field => "client_id", :commentable_type => "Client", :refurl => client_path(@client), :comment_num => @client.id }
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        %h3= t(:files)
        %ul
          - @client.file_attachments.each do |file_attachment|
            %li= link_to file_attachment.attachment_file_file_name, file_attachment_path(file_attachment.id)
        = link_to t(:add_file_attachment), new_file_attachment_path( :client_id => @client.id )
