#add_ticket
  %h3.dashboard_title Add Ticket

  = form_for Ticket.new(params[:ticket]) do |f|

    #ticket-errors

    .ticket_field
      %label{:for => "ticket_client_id"} Client:
      = collection_select("ticket", "client_id", @clients, "id", "name", { :prompt => "Select a client" })

    .ticket_field
      %label{:for => "ticket_project_id"} Project:
      = collection_select("ticket", "project_id", @projects, "id", "name", { :prompt => "Select a project" })

    .ticket_field
      %label{:for => "ticket_name"} Name:
      = f.text_field :name, { :size => 10 }

    .ticket_field
      %label{:for => "ticket_description"} Description:
      = f.text_area :description, { :rows => 10, :style => "resize: none;"}

    .ticket_field
      = f.submit "Create Ticket", :class => 'add_new_button'