%h2= @project.to_s
.gradient_border_wrap
  .gradient_border_content
    %h3= link_to @project.client.to_s, @project.client
    %table.tickets
      %thead
        %tr
          %th Tickets
          %th Work Units
          %th Hours
          %th Edit
      %tbody
        - @tickets.each do |ticket|
          %tr
            %td= link_to ticket, project_ticket_path(@project, ticket)
            %td= link_to ticket.work_units.count, ticket_work_units_path(ticket)
            %td= ticket.work_units.inject(0) {|hours, work_unit| hours + work_unit.hours }
            %td= link_to 'Edit', edit_project_ticket_path(@project, ticket)
    = link_to "New Ticket", new_project_ticket_path(@project), :method => :get, :class => "add_new_button"
