.yui3-g
  .yui3-u-1
    %h2= @ticket.to_s
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        .links
          %ul
            %li= link_to "Edit", edit_project_ticket_path(@project, @ticket)
            %li= link_to "Work Units", ticket_work_units_path(@ticket)
            %li= link_to "Back to project: #{@project}", client_project_path(@project.client, @project)
            %li= link_to "Back to client: #{@project.client}", client_path(@project.client)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %table.work_units
          %thead
            %tr
              %th #
              %th Work Units
              %th Hours
              %th Edit
          %tbody
            - @ticket.work_units.each do |work_unit|
              %tr
                %td= work_unit.id
                %td= link_to work_unit.description, ticket_work_unit_path(@ticket, work_unit)
                %td= work_unit.hours
                %td= link_to 'Edit', edit_ticket_work_unit_path(@ticket, work_unit)
        = button_to "New Work Unit", new_client_path, :method => :get, :class => "add_new_button"

        = render :partial => "comments/comments", :locals => {:comments => @ticket.comments}
        = render :partial => "comments/comment_form", :locals => { :commentable_id => @ticket.id, :commentable_field => "ticket_id", :commentable_type => "Ticket", :refurl => project_ticket_path(@ticket), :comment_num => @ticket.id }

        %h3 Files
        %ul
          - @ticket.file_attachments.each do |file_attachment|
            %li= link_to file_attachment.attachment_file_file_name, file_attachment_path(file_attachment.id)
        = link_to "Add File Attachment", new_file_attachment_path( :ticket_id => @ticket.id )

