.yui3-g
  .yui3-u-1
    %h2= "Contact: #{@contact.first_name} #{@contact.last_name}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to 'All Contacts', client_contacts_path
          %li= link_to 'Edit Contact', edit_client_contact_path(@client)
          %li= button_to 'Delete Contact', client_contact_path(@contact.client, @contact), :method => :delete, :confirm => "Are you sure?"

.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        #client
          %table
            %thead
              %tr
                %th First Name
                %th Last Name
                %th Email Address
                %th Phone Number
                %th Recieves Email
            %tbody
              %tr
                %td= @contact.first_name
                %td= @contact.last_name
                %td= @contact.email_address
                %td= @contact.phone_number
                - if @contact.recieves_email == true
                  %td Yes
                - else
                  %td No

