.module-wrap
  .module-gradient-container
    .module
      = link_to '<< Back to Client ' << @client.to_s, client_path(@client)
      %h1= @client.to_s
      %h3 Projects
      = button_to "New Project", new_client_project_path(@client), :method => :get
      %table.projects
        %thead
          %tr
            %th Name
            %th Tickets
            %th Hours
            %th{:colspan => 2}
        %tbody
          - @projects.each do |project|
            %tr
              %td= link_to project, client_project_path(@client, project)
              %td= link_to project.tickets.count, project_tickets_path(project)
              %td= project.tickets.inject(0) {|sum, ticket| sum + ticket.work_units.inject(0) {|sum, work_unit| sum + work_unit.hours}}
              %td= link_to 'Edit', edit_client_project_path(@client, project)
              %td= button_to 'Destroy', { :action => 'destroy', :id => project.id, }, :confirm => 'Are you sure?', :method => :delete

