.module-wrap
  .module-gradient-container
    .module
      %h1
        All Users

      = link_to "New User", new_admin_user_path
      %table.users
        %thead
          %tr
            %th Name
            %th Email
            %th Locked?
            %th Roles
            %th{:colspan => 2}
        %tbody
          - @users.each do |user|
            %tr
              %td= link_to (user.first_name+ " " + user.last_name), admin_user_path(user)
              %td= user.email
              %td
                - if user.locked_at?
                  Locked
              %td
                - user.roles.each do |role|
                  = role.name
                  %br
              %td= link_to 'Edit', edit_admin_user_path(user)
              %td= button_to 'Destroy', [:admin, user], { :confirm => "Are you sure?", :method => :delete }

