.gradient_border_wrap
  .gradient_border_content
    %h2 All Users
    %table.users
      %thead
        %tr
          %th Name
          %th Email
          %th Locked?
          %th Roles
          %th Edit
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.to_s, admin_user_path(user)
            %td= user.email
            %td= user.locked_at? ? 'X' : '&nbsp;'.html_safe
            %td
              - unless user.roles.empty?
                %ul
                  - user.roles.each do |role|
                    %li= role.name
            %td= link_to 'Edit', edit_admin_user_path(user)
    = button_to "New User", new_admin_user_path, :method => :get